@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.side-menu
{
	background-image: url("../img/sidemenu-cover.jpg");
	height: 150px;
	font-weight: bold;
	font-size: 24px;
}

.heading
{
	width: 100%;
	font-weight: bold;
	font-size: 48px;
	line-height: 80px;
	background-color: #e74c3c;
}
/*Scren for Old Phones*/
@media (min-width:240px) {
 .heading
	{
		font-size: 24px;
	}
}

/*Screen for Mobile*/
@media screen and (min-width: 480px) {
    .heading
	{
		font-size: 28px;
	}
}

/*Screen for Tablet*/
@media (min-width:801px) {
	.heading
	{
		font-size: 34px;
	}
}

.empimg
{
	/*background-color: #3498db;*/
	background-image: url("../img/title-bg.jpg");
	height: 100vh;
	background-position: 50% 50%;
	background-repeat: no-repeat;

}

.login-p
{
	/*background-color: #e74c3c;*/
	height: 100vh;
	font-family: Open Sans;
}

.info-h
{
	margin-top: 20%;
	line-height: 50px;
}